*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #232323;
    display: grid;
    place-items: center;
}

#Calculadora {
    background-color: #48bfff;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: repeat(1,4fr);
    gap: .5rem;
    box-shadow: 0 0 20px #48bfff;
}

#pantalla {
    grid-column: 1 / 5;
    background-color: #090C31;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
    font-family: monospace;
    font-weight: bold;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}


button {
    background-color: #006da7;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

button:hover{
    background-color: #004f78;

}

#btn0{
    grid-column: span 2;
}

#igual{
    grid-column: span 2;
    background-color: #e65766;
}

#igual:hover{
    background-color: #e6394a;
}